<div id="dashboard" class="flex flex-col">
  <h1 class="text-2xl font-light mb-10 px-6">
    Never forget your friends’ birthdays anymore
  </h1>
  <span class="text-xs self-end mb-3 px-6">Nearest birthday</span>
  <app-details-card></app-details-card>
  <span class="text-xs self-end mt-10 mb-2 px-6">Next 5 birthdays</span>
  <div class="flex gap-4 overflow-scroll px-6">
    <app-details-card-small></app-details-card-small>
    <app-details-card-small></app-details-card-small>
    <app-details-card-small></app-details-card-small>
    <app-details-card-small></app-details-card-small>
  </div>
</div>
