<a
  routerLink="/details/1"
  class="card-small-container w-28 h-20 bg-white rounded-lg"
>
  <img
    [src]="friend.imgUrl"
    alt=""
    class="col-start-2 col-end-3 rounded-full"
    id="details-small-img"
  />

  <h2 class="col-start-4 col-end-5 row-start-2 row-end-3">
    Birthday in <span class="day-count">{{ countDown }}</span> days
  </h2>

  <p class="col-start-2 col-end-3 row-start-2 row-end-3 self-end font-bold">
    {{ friend.fullName }}
  </p>

  <div class="row-start-4 row-end-5 col-start-2 col-end-4 ideas-info">
    <fa-icon [icon]="faGift" size="1x"></fa-icon>

    <p class="text-sm">{{ friend.giftIdea }}</p>
  </div>

  <div class="row-start-4 row-end-5 col-start-4 col-end-5 ideas-info">
    <fa-icon [icon]="faCookieBite" size="1x"></fa-icon>

    <p class="text-sm">{{ friend.favSnack }}</p>
  </div>
</a>
