<div id="details">
  <a routerLink="/" class="bg-white rounded-lg mx-6"
    ><fa-icon [icon]="faChevronLeft" size="1x" class="mr-2"></fa-icon
    >Dashboard</a
  >

  <h1 class="mt-10 mb-14 text-2xl px-6">Friend’s Details</h1>

  <app-details-card
    [friend]="friend"
    [countDown]="countDown"
  ></app-details-card>

  <div class="buttons flex justify-between px-6 mt-8 mb-10">
    <a [routerLink]="['/details', id, 'edit']">
      <fa-icon [icon]="faPen" size="1x" class="mr-2"></fa-icon>Edit
    </a>
    <a (click)="onDelete()">
      <fa-icon [icon]="faTrash" size="1x" class="mr-2"></fa-icon>Delete
    </a>
  </div>
</div>
