@import "~@angular/material/theming";
@include mat-core();

$custom-theme-primary: mat-palette($mat-blue, 50, 100, 200);
$custom-theme-accent: mat-palette($mat-teal, 100, 200);
$custom-theme-warn: mat-palette($mat-pink, 100, 200);
//creating your theme

$custom-theme: mat-light-theme(
  $custom-theme-primary,
  $custom-theme-accent,
  $custom-theme-warn
);
//updating main theme
@include angular-material-theme($custom-theme);
